<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Mbs\BackendScreen\Block\Adminhtml\CustomerAnimal\AssignAnimals $block */
/** @var \Mbs\BackendScreen\Block\Adminhtml\CustomerAnimal\Tab\Animal $blockGrid */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */

$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?= $block->getGridHtml() ?>
<input type="hidden" name="customer_animals" id="in_customer_animals" data-form-part="customer_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Mbs_BackendScreen/assign-animals": {
                "animalsInfo": <?= /* @noEscape */ $block->getAnimalsJson() ?>,
                "gridJsObjectName": <?= /* @noEscape */ '"' . $gridJsObjectName . '"' ?: '{}' ?>
            }
        }
    }
</script>
<!-- @todo remove when "UI components" will support such initialization -->
<?= /* @noEscape */ $secureRenderer->renderTag('script', [], "require('mage/apply/main').apply();", false) ?>
